name: Build and push image

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v5
        env:
          IMAGE_NAME: merlyai/mentor
        with:
          context: .
          push: true
          sbom: true
          provenance: mode=max
          tags: |
            ${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}