name: Docker Build and Push

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Specify the container version"
        required: true
        default: "v1.0.0"
      build_env:
        description: "Select the build environment"
        required: true
        default: "Test"
        type: choice
        options:
          - Staging
          - Test
          - Release
          - Pre-Release
          - WIP-Demo

jobs:
  Docker_Build_Push_UBI9:
    name: Docker Build and Push UBI9
    runs-on: ubuntu-24.04
    env:
      IMAGE_NAME:     merlyai/merly-mentor-ubi9
      IMAGE_TAG:      ${{ github.event.inputs.image_tag }}
      POSTFIX:        ''
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set POSTFIX based on BUILD_ENV
        run: |
          if [ "${{ github.event.inputs.build_env }}" == "Test" ]; then
            echo "POSTFIX=-Test" >> $GITHUB_ENV
          elif [ "${{ github.event.inputs.build_env }}" == "Staging" ]; then
            echo "POSTFIX=-Staging" >> $GITHUB_ENV
          elif [ "${{ github.event.inputs.build_env }}" == "Pre-Release" ]; then
            echo "POSTFIX=-Pre-Release" >> $GITHUB_ENV
          elif [ "${{ github.event.inputs.build_env }}" == "WIP-Demo" ]; then
            echo "POSTFIX=-WIP-Demo" >> $GITHUB_ENV
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
  
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
  
      - name: Set up QEMU (for multi-platform builds)
        uses: docker/setup-qemu-action@v2
  
      - name: Build Docker and Push image
        uses: docker/build-push-action@v5
        with:
          context: Docker
          file: Docker/Dockerfile.ubi9
          push: true
          sbom: true
          provenance: mode=max
          tags: |
            ${{ env.IMAGE_NAME }}:latest${{ env.POSTFIX }}
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}${{ env.POSTFIX }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            BUILD_ENV=${{ github.event.inputs.build_env }}
          