name: Release
on:
  push:
    tags:
      - '*'
env:
  TAG_NAME: ''
  
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get the tag name
        id: get_tag
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Generate Docker Compose
        run: make generate-docker-compose


      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            docker-compose*.*ml
            kubernetes/deploy.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ github.ref }}
      