name: Release
on:
  push:
    tags:
      - '*'
env:
  TAG_NAME: ''
  RELEASE_DATE: ''
  MODELS_TAG: ''
  ASSETS_TAG: ''
  MENTOR_TAG: ''
  BRIDGE_TAG: ''
  UI_TAG: ''
  
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get the tag name
        id: get_tag
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Generate Docker Compose
        run: make generate-docker-compose

      - name: Prepare install script
        run: |
          sed -e "s/\${RELEASE_TAG_VERSION}/${TAG_NAME}/g" \
          scripts/install.sh > install.sh

      - name: Get the relase date
        id: get_date
        run: echo "RELEASE_DATE=$(date +"%B %-d, %Y")" >> $GITHUB_ENV

      - name: Source Container Versions
        run: |
          # Load environment variables from tags.conf
          source ./scripts/versions.conf
          echo "MODELS_TAG=$MODELS_TAG" >> $GITHUB_ENV
          echo "ASSETS_TAG=$ASSETS_TAG" >> $GITHUB_ENV
          echo "MENTOR_TAG=$MENTOR_TAG" >> $GITHUB_ENV
          echo "BRIDGE_TAG=$BRIDGE_TAG" >> $GITHUB_ENV
          echo "UI_TAG=$UI_TAG" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            docker-compose*.*ml
            kubernetes/deploy.yaml
            install.sh
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            ---
            **Release Notes**  
            **Version: ${{ ENV.TAG_NAME }}**  
            **Release Date: ${{ ENV.RELEASE_DATE }}**
            ---

            #### Services Versions
            - **Merly Mentor Models:** ${{ ENV.MODELS_TAG }}
            - **Merly Mentor Assets:** ${{ ENV.ASSETS_TAG }}
            - **Merly Mentor Daemon:** ${{ ENV.MENTOR_TAG }}
            - **Merly Mentor Bridge:** ${{ ENV.BRIDGE_TAG }}
            - **Merly Mentor UI:** ${{ ENV.UI_TAG }}
            


      