name: Release
on:
  push:
    tags:
      - '*'
env:
  TAG_NAME: ''
  
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get the tag name
        id: get_tag
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Generate Docker Compose
        run: make generate-docker-compose

      - name: Prepare install script
        run: |
          sed -e "s/\${RELEASE_TAG_VERSION}/${TAG_NAME}/g" \
          scripts/install.sh > install.sh

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            docker-compose*.*ml
            kubernetes/deploy.yaml
            install.sh
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            This is the release of version ${{ env.TAG_NAME }}.
            Multiline test.
            # Check Mark down
            - [x] Check 1
            - [x] Check 2

            ```shell
            echo "Hello World"
            ```

      